<div id="login">
  <div class="container-fluid flex-grow-1 d-flex">
    <div class="row flex-grow-1">
      <div
        class="col-12 col-sm-6 d-sm-flex d-none justify-content-center align-items-center align-self-center"
      >
        <img src="images/cachorro_login.png" class="img-fluid align-self-center" id="dogImage" />
      </div>
  
      <div
        class="col-12 col-sm-6 d-flex justify-content-center align-items-center flex-column"
      >
        <img
          src="images/person.svg"
          style="width: 60%"
          class="img-fluid mx-auto d-sm-none mb-3"
          id="person"
        />
  
        <p
          class="wd-text-danger wd-text-bold me-4 ms-4 d-none d-sm-block"
          style="font-size: 1.5rem"
        >
          Login
        </p>
  
        <ajax-form 
          action="login" 
          :syncing.sync="syncing" 
          :cloud-error.sync="cloudError" 
          :form-rules="formRules" 
          :form-data="formData"
          :form-errors.sync="formErrors"
          @submitted="submittedForm"
          @rejected="rejectedForm"
          class="wd-bg-secondary col-sm-8 p-4 rounded-3 ms-4 me-4 d-flex flex-column justify-content-center align-center"
        >
        
  
          <div class="row mb-2">
            <div class="form-group col-12">
              <label class="wd-text-bold wd-text-white" for="email" id="email"
                >E-mail</label
              >
              <input
                placeholder="exemplo@exemplo.com"
                type="email"
                class="p-3 p-sm-2 form-control wd-rounded-md"
                id="emailAddress"
                name="emailAddress"
                v-model="formData.emailAddress" required
              />
              <span v-if="formErrors.emailAddress" class="error">{{ formErrors.emailAddress }}</span>
            </div>
          </div>
  
          <div class="row mb-4">
            <div class="form-group col-12">
              <label class="wd-text-bold wd-text-white" for="senha" id="senha"
                >Senha</label
              >
              <input
                placeholder="****"
                type="password"
                class="p-3 p-sm-2 form-control wd-rounded-md"
                id="senha"
                name="password"
                v-model="formData.password" required
              />
              <span v-if="formErrors.password" class="error">{{ formErrors.emailAddress }}</span>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-12 d-flex">
              <ajax-button type="submit" :syncing="syncing" class="btn wd-btn-primary p-2 flex-grow-1" id="submit">
                Logar
              </ajax-button>
            </div>
          </div>
  
          <div class="row justify-content-center align-center">
            <a href="/forgot-password" class="text-center wd-text-white"
              >Esqueci a senha</a
            >
          </div>
        </div>
        </ajax-form>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
