<main>
  <section class="banner">
    <article class="banner__cover">
      <h1 class="banner__title mobile">
        <span class="red-text">Junte-se</span> à<br />essa causa
      </h1>
      <h1 class="banner__title desktop">
        <span class="red-text">Junte-se</span> à essa causa
      </h1>
      <a href="/form/1" class="banner__button btn btn-warning mobile">Questionário</a>
      <a href="/form/1" class="banner__button btn btn-warning desktop">
        Responda nosso questionário
      </a>
    </article>
  </section>
  <section class="causa">
    <article class="causa__header">
      <h1 class="causa__header__title">
        <span class="blue-text">Junte-se</span
        ><span class="commom-text"> à essa causa</span>
      </h1>
      <div class="cause__header__line"></div>
    </article>
    <article class="causa__images">
      <img
        src="./images/home/causa_dog_1.png"
        alt=""
        class="causa__images__dog1"
      />
      <img
        src="./images/home/causa_dog_2.png"
        alt=""
        class="causa__images__dog2"
      />
      <img
        src="./images/home/vector1.svg"
        alt=""
        class="causa__images__vector1"
      />
      <img
        src="./images/home/vector2.svg"
        alt=""
        class="causa__images__vector2"
      />
    </article>
    <article class="causa__content">
      <p class="causa__content__description">
        Ao preencher o questionário, você nos ajuda a entender melhor as
        necessidades dos cães e de seus tutores. Assim, podemos desenvolver
        soluções eficazes para garantir lares seguros e saudáveis para os
        animais de estimação.
      </p>
      <a href="/form/1" class="causa__content__button btn">Questionário</a>
    </article>
  </section>
  <section class="quem-somos" id="quem_somos">
    <h1 class="quem-somos__title mobile">Quem somos?</h1>
    <article class="quem-somos__description">
      <h1 class="quem-somos__title desktop">Quem somos?</h1>
      <div class="quem-somos__description__logo">
        <img src="./images/home/inspa-logo.svg" alt="" />
      </div>
      <div class="quem-somos__description__texto">
        <p>
          O INSPA é uma instituição comprometida há 12 anos com a liderança
          na área da educação em comportamento e bem-estar animal. tem como
          missão revolucionar a compreensão e a prática profissional das
          relações entre humanos e animais, introduzindo o conceito de
          família multiespécie.
        </p>
      </div>
      <div class="quem-somos__description__dog">
        <img src="./images/home/quem-somos-dog.svg" alt="" />
      </div>
    </article>
    <img
      src="./images/home/quem-somos_dog_desktop.png"
      class="desktop"
      alt=""
    />
  </section>
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 mt-5">
        <h1 class="text-center">
          <b>Você busca fazer a diferença na sociedade?</b>
        </h1>
        <h2 class="text-center">
          E é um pesquisador apaixonado por cachorros?
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <article class="adm__content__decoration">
          <img src="./images/home/vector1.svg" />
          <img src="./images/home/vector2.svg" />
          <img src="./images/home/vector1.svg" />
          <img class="d-none d-md-block" src="./images/home/adm_dog_1.png" style="left: 50px; top: 5px" />
          <img class="d-block adm_img_mobile" src="./images/home/adm_dog_2.png" style="right: 5px; top: 30px" />
          <img class="d-none d-md-block" src="./images/home/adm_dog_3.png" style="left: 80px; bottom: 5px" />
        </article>
      </div>
      <div class="col-12 col-md-5">
        <div
          class="green-box-contact"
          style="
            background-color: #8ea68e;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
          "
        >
          <div
            style="
              top: 10px;
              right: 10px;
              width: 30%;
              height: 30%;
              position: absolute;
              border-right: 4px solid rgb(0, 115, 209);
              border-top: 4px solid rgb(0, 115, 209);
              border-top-right-radius: 10px;
            "
          ></div>
          <div
            style="
              bottom: 10px;
              left: 10px;
              width: 30%;
              height: 30%;
              position: absolute;
              border-left: 4px solid rgb(0, 115, 209);
              border-bottom: 4px solid rgb(0, 115, 209);
              border-bottom-left-radius: 10px;
            "
          ></div>
          <p class="text-white">
            Se sim, esta é a sua chance de se juntar à nossa equipe e
            contribuir para a construção de um futuro melhor para os
            animais.<br /><br />Entre em contato conosco!
          </p>
          <button
            class="btn btn-warning btn-lg col-12"
            onclick="location.href='/contact'"
          >
            Entre em contato!
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
