
<div id="forms">
    <div class="container-fluid">    
        <div class="row justify-content-center"> 
            <div class="col-12 col-sm-8">        
                <h2 class="text-center">Por que você não gostaria de ter um cão?</h2>   
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="amigo" name="petReason" class="custom-control-input">
                    <label class="custom-control-label" for="amigo"><h5> Amigo</h5></label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="criador" name="petReason" class="custom-control-input">
                    <label class="custom-control-label" for="criador"><h5> Criador</h5></label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="abrigo" name="petReason" class="custom-control-input">
                    <label class="custom-control-label" for="abrigo"> <h5> Abrigo</h5></label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="vizinho" name="petReason" class="custom-control-input">
                    <label class="custom-control-label" for="vizinho"> <h5>Vizinho</h5></label>
                </div>
            </div>
        </div>
    </div>
</div>