<div v-cloack>
    <div class="container-fluid full-height-row">
        <div class="row d-flex justify-content-center align-items-center w-100" id="questionario">
            <div class="col-12 col-sm-6 d-sm-flex d-none justify-content-center align-self-center" id="formsTeste">
                <h1 class="text-center py-2"></h1>
            </div>
        </div>
    </div>
    <img src="images\back_buttom.png" class="container-fluid d-flex" id="backButtom">
        <h2></h2>
    </div>
    <img src="images\next_buttom.png" class="container-fluid d-flex" id="nextButtom">
        <h2></h2>
    </div>
</div>